<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew(client)"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedClients || !selectedClients.length"></button>
        </ng-template>

        
    </p-toolbar>

    <p-table #dt [value]="clients" [rows]="10" [paginator]="true" [globalFilterFields]="['name','email','birthDay','zip_code','address','password','phone_number','spouse','son_name']" responsiveLayout="scroll"
        [(selection)]="selectedClients" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="email">E-mail <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="birthDay">BirthDay<p-sortIcon field="birthDay"></p-sortIcon></th>
                <th pSortableColumn="zip_code">Zip Code<p-sortIcon field="zip_code"></p-sortIcon></th>
                <th pSortableColumn="address">Address<p-sortIcon field="address"></p-sortIcon></th>
                <th pSortableColumn="password">PassWord<p-sortIcon field="password"></p-sortIcon></th>
                <th pSortableColumn="phone_number">Phone number<p-sortIcon field="phone_number"></p-sortIcon></th>
                <th pSortableColumn="spouse">Spounse<p-sortIcon field="spouse"></p-sortIcon></th>
                <th pSortableColumn="son_name">Son name<p-sortIcon field="son_name"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
            <tr>
                <td>
                    <p-tableCheckbox [value]="client"></p-tableCheckbox>
                </td>
                <td>{{client.name}}</td>
                <td>{{client.email}}</td>
                <td>{{client.birthDay | date:'dd/MM/yyyy'}}</td>
                <td>{{client.zip_code}}</td>
                <td>{{client.address }}</td>
                <td>{{client.password }}</td>
                <td>{{client.phone_number }}</td>
                <td>{{client.spouse}}</td>
                <td>{{client.son_name}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(client)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(client)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{clients ? clients.length : 0 }} clients.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="clientDialog" [style]="{width: '450px'}" header="Client Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name"  [(ngModel)]="client.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !client.name">Name is required.</small>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText id="email" [(ngModel)]="client.email" required autofocus />
            <small class="p-error" *ngIf="submitted && !client.email">Email is required.</small>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <label for="birthDay">BirthDay</label>
            <!-- <input type="text" pInputText id="birthDay" [(ngModel)]="client.birthDay" required autofocus /> -->
            <p-inputMask mask="99/99/9999" [(ngModel)]="client.birthDay" placeholder="99/99/9999" slotChar="dd/MM/yyyy"></p-inputMask>
            <small class="p-error" *ngIf="submitted && !client.birthDay">BirthDay is required.</small>
        </div>
        <div class="field">
            <label for="zip_code">Zip Code</label>
            <input type="text" pInputText id="zip_code" [(ngModel)]="client.zip_code" required autofocus (blur)="fillAddress(client.zip_code)"/>
            <small class="p-error" *ngIf="submitted && !client.zip_code">zip_code is required.</small>
        </div>
        <div class="field">
            <label for="address">Address</label>
            <input type="text" pInputText id="address" [(ngModel)]="client.address" required autofocus />
            <small class="p-error" *ngIf="submitted && !client.address">address is required.</small>
        </div>
        <div class="field">
            <label for="password">password</label>
            <input type="text" pInputText id="password" [(ngModel)]="client.password" required autofocus />
            <small class="p-error" *ngIf="submitted && !client.password">password is required.</small>
        </div>
        <div class="field">
            <label for="phone_number">Phone Number</label>
            <input type="text" pInputText id="phone_number" [(ngModel)]="client.phone_number" required autofocus />
            <small class="p-error" *ngIf="submitted && !client.phone_number">Phone Number is required.</small>
        </div>
        <div class="field">
            <label for="spouse">Spouse</label>
            <input type="text" pInputText id="spouse" [(ngModel)]="client.spouse" />
            <small class="p-error" *ngIf="submitted && !client.spouse">Spouse is required.</small>
        </div>
        <div class="field">
            <label for="son_name">Son Name</label>
            <input type="text" pInputText id="son_name" [(ngModel)]="client.son_name"/>
            <small class="p-error" *ngIf="submitted && !client.son_name">Son Name is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>