<p-table [columns]="selectedColumns" [value]="client">
    <ng-template pTemplate="caption">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
        selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns"></p-multiSelect>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client let-columns="columns">
        <tr>
            <!-- <td>{{client}}</td> -->
            <td *ngFor="let col of columns">
                {{client[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
